a {
  text-decoration: none;
  color: black;
  padding-left: 7px;
}
  
a:hover {
  color: #19dd67;
}

a:active {
  color: rgb(25, 221, 103);
}

ion-row {
  ion-col {
    display: flex;
    justify-content: center;
    text-align: center;

    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    ion-avatar {
      height: 90%;
      width: 50%;

      ion-img {
        text-align: center;
        position: absolute;
      }
    }

  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .col-bio {
    justify-content: start;
  }

  .col-botoes-dias {
    font-size: 20px;
    border-radius: 30px;
    color: #000;
    background-color: #19dd67;
  }
}


/*@media (prefers-color-scheme: dark) {
  a {
    text-decoration: none;
    color: white;
    padding-left: 7px;

  }

  a:hover {
    color: rgb(25, 221, 103);
  }

  a:active {
    color: rgb(25, 221, 103);
  }
}
*/