<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Exercícios</ion-title>      
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="valueSelected">
      <ion-segment-button value="preparatoria">
        <ion-label>Preparatoria</ion-label>
      </ion-segment-button>
      <ion-segment-button value="compensatoria">
        <ion-label>Compensatoria</ion-label>
      </ion-segment-button>
      <ion-segment-button value="relaxamento">
        <ion-label>Relaxamento</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-card *ngIf="valueSelected === 'preparatoria'">
      <ion-card-header>
        <ion-card-title>Preparatoria</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngIf="valueSelected === 'compensatoria'">
      <ion-card-header>
        <ion-card-title>Flexibilidade</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="valueSelected === 'relaxamento'">
      <ion-card-header>
        <ion-card-title>Relaxamento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>
    
  </ion-content>
</ion-app>