@font-face {
    src: url('../../../theme/fonts/Poppins-Black.ttf');
    font-family: 'Poppins-Black';    
    font-weight: normal;
  
    src: url('../../../theme/fonts/Poppins-Bold.ttf');
    font-family: 'Poppins-Bold';    
    font-weight: bold;
  
}

ion-header {
    ion-toolbar {
        ion-segment {
            ion-segment-button {
                font-family: Poppins-Black;
                font-size: 9px;
                --color: #000;
                --color-checked: #21db40;
                --indicator-color: #21db40;
                --indicator-height: 4px;
            }   
        }
    }
}

ion-content {
    background-color: #fff;
    color: #000;

    ion-card {
        ion-card-header {
            ion-card-title {
                font-family: Poppins-Black;
            }
        }
    }
}


/*@media (prefers-color-scheme: dark) {
    ion-header {
        background-color: #000;
        color: #fff;
        ion-toolbar {
            ion-title {
                display: block;
                text-align: center;
                font-size: 20px;
                font-weight: bold; 
            }
        }
    }

    ion-content {
        background-color: #000;
        color: #fff;
        ion-segment {
            ion-segment-button {
                font-size: 13px;
                margin-top: 8px;
                padding: max-content;
                --color: #000;
                --color-checked: #21db40;
                --indicator-color: #21db40;
                --indicator-height: 4px;
            }   
        }
    }
}
*/