<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)" [value]="valueSelected">
        
        <ion-segment-button value="preparatoria">
          <ion-label>Preparatória</ion-label>
        </ion-segment-button>

        <ion-segment-button value="compensatoria">
          <ion-label>Compensatória</ion-label>
        </ion-segment-button>

        <ion-segment-button value="relaxamento">
          <ion-label>Relaxamento</ion-label>
        </ion-segment-button>

      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card *ngIf="valueSelected === 'preparatoria'">
      <ion-card-header>
        <ion-card-title>Preparatória</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngIf="valueSelected === 'compensatoria'">
      <ion-card-header>
        <ion-card-title>Compensatória</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="valueSelected === 'relaxamento'">
      <ion-card-header>
        <ion-card-title>Relaxamento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>
    
  </ion-content>
</ion-app>