ion-item {
    ion-label {
        color: #000000;
        font-weight: bold;
    }    
}

#logo {
    margin-left: 19%;
    width: 60%;
    height: 30%;
    margin-top: 20px;
}

.msg-erro {
    color: #f00;
    font-size: 10px;
    clear: bold;
    position: relative;
}

#texto-de-login {
    text-align: center;
    font-size: 13px;
    margin-left: 10px;

}

p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: rgb(17, 17, 17);
}

a {
    color: rgb(35, 214, 95);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

a:hover {
    color: rgb(17, 94, 41);
}

a:active {
    color: rgb(17, 94, 41);
}

#confirmar {
    color: black;
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 10px;
}
