@font-face {
  src: url('../../../theme/fonts/Poppins-Black.ttf');
  font-family: 'Poppins-Black';    
  font-weight: normal;

  src: url('../../../theme/fonts/Poppins-Bold.ttf');
  font-family: 'Poppins-Bold';    
  font-weight: bold;
  
}

ion-header {
  ion-toolbar {
    ion-avatar {
      margin: 10px;
    }

    ion-label {
      font-family: Poppins-Bold;
    }

    ion-button {
      font-size: 18px;
    }

  }
}

ion-modal {
  ng-template {
    ion-content {
      ion-searchbar {
        ion-list {
          ion-item {

            ion-thumbnail {
              width: 20px;
              height: 20px;
            }

            ion-label {
              h2 {}
              p {}
            }
          }
        }
      }
    }
  }
}

ion-content {
  ion-segment {
    ion-segment-button {
      margin: 10px 0px;
      --color: #000;
      --color-checked: #21db40;
      --indicator-color: #21db40;
      --indicator-height: 4px;
  
        ion-label {
          font-size: 16px;
          font-family: Poppins-Black;
          text-transform: capitalize;
  
        } #todos {
          font-size: 18px;
      }
    }
  }

  div {
    ion-card {
      ion-header {
        ion-card-subtitle {}
        ion-card-title {}
      }
      ion-card-content {}
    }
  }
}


.thumbnail-slides {
  display: inline-block;
  margin: 10px;
}
  
.thumbs {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
  
#avatar-principal {
  font-size: 8px;
  padding: 3px;
  
}
  
.logo {
  font-size: 20px;
  
}

  
/* @media (prefers-color-scheme: dark) {
  .thumbnail-slides {
    display: inline-block;
    margin: 10px;
  }
  
  .thumbs {
    border-radius: 12px;
    width: 100%;
    height: 100%;
  }
  
  #avatar-principal {
    font-size: 8px;
    padding: 3px;
  
  }
  
  .logo {
    font-size: 20px;
  
  }
  
  #chat {
    font-size: 17px;
  }

} */