<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-avatar slot="start" id="avatar-principal">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label class="logo" color="success">Olá, User</ion-label>
      <ion-button id="ch" fill="clear" slot="end" color="dark">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-slides>
      <ion-thumbnail class="thumbnail-slides">
        <img class="thumbs" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
  
      <ion-thumbnail class="thumbnail-slides">
        <img class="thumbs" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
  
      <ion-thumbnail class="thumbnail-slides">
        <img class="thumbs" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
  
      <ion-thumbnail class="thumbnail-slides">
        <img class="thumbs" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
    </ion-slides>

    <ion-item>
      <ion-thumbnail class="thumbnail-principal">
        <img class="thumbs" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-text>
        <ion-label class="ion-text-wrap">Alongamento de Pernas</ion-label>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="thumbnail-principal">
        <img class="thumbs" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-text>
        <ion-label class="ion-text-wrap">Flexibilidade</ion-label>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="thumbnail-principal">
        <img class="thumbs" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-text>
        <ion-label class="ion-text-wrap">Alongamento Geral</ion-label>
      </ion-text>
    </ion-item>
    
      
  </ion-content>
</ion-app>