<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-avatar slot="start" id="avatar-principal">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label class="logo" color="success">Bate-papo</ion-label>
      <ion-button id="search-msg" fill="clear" color="dark" slot="end">
        <ion-icon name="options"></ion-icon>
      </ion-button>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">  
    <ion-modal #modal trigger="search-msg" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <ion-content>
          <ion-list lines="none">
            <ion-item button="true" detail="false" (click)="bloquearUsuario()">
              <ion-icon name="close"></ion-icon>
              <ion-label>Bloquear</ion-label>
            </ion-item>
            <ion-item button="true" detail="false" (click)="apagarMensagens()">
              <ion-icon name="trash"></ion-icon>
              <ion-label>Limpar</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
  
  <ion-footer>
    <ion-item>
      <ion-input type="text" placeholder="Mensagem"></ion-input>
      <ion-button slot="end" color="dark" fill="clear">
        <ion-icon name="send"></ion-icon>
      </ion-button>
      <ion-button fill="clear" file>
        <ion-icon name="images" color="dark" fill="clear"></ion-icon>
      </ion-button>
    </ion-item>
    
    
  </ion-footer>
</ion-app>
