<ion-content>
    <ion-slides pager="true" [options]="slideOpts"> 
        <ion-slide>
            <ion-img id="slide1" src="https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?auto=compress&cs=tinysrgb&w=400"></ion-img>
            <h1>Mais Saúde</h1>
            <p>O lugar perfeito para encontrar profissionais para gestão de ginástica laboral.</p>
        </ion-slide>

        <ion-slide>
            <ion-img id="slide2" src="https://images.pexels.com/photos/116077/pexels-photo-116077.jpeg?auto=compress&cs=tinysrgb&w=400"></ion-img>
            <h1>Mais Bem-estar</h1>
            <p>Praticar ginastica laboral aumenta sua autoestima.</p>
        </ion-slide>
      
        <ion-slide>
            <ion-img id="slide3" src="https://images.pexels.com/photos/4754008/pexels-photo-4754008.jpeg?auto=compress&cs=tinysrgb&w=400"></ion-img>
            <h1>Mais Disposição</h1>
            <p>Melhore seu desempenho no trabalho.</p>
            <ion-button color="off" id="botao-de-login" routerLink="../login">Vamos Lá</ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>