ion-slides {
    height: 100%;
    background-image: linear-gradient(40deg , #10a335, #3aff6b);
    color: #ecf3f1;

    ion-slide {
        display: block;
        text-align: center;

        #slide1 {
            padding-top: 200px;
        }

        #slide2 {
            padding-top: 200px;
        }

        #slide3 {
            padding-top: 200px;
        }

        h1 {
            color: black;
            font-size: 22px;
            font-weight: bold;
            margin-top: 40px;
            padding-top: 10px;
            
        }
    
        p {
            color: rgb(255, 255, 255);
            padding: 10px;
            text-align: center;
            font-size: 16px;
            padding-top: 10px;
            
        }

        #botao-de-login {
            border: none;
            
        }
    }

  }