<ion-app>
    <ion-content>
        <ion-slides pager="true" [options]="slideOpts"> 
            <ion-slide class="container ion-text-center">
                <div>
                    <ion-img src="../../assets/nossaEquipe-trabalhando.png"></ion-img>
                </div>
                <ion-label>Profissionais Qualificados</ion-label>
                <p>Encontre profissionais qualificados em ginástica laboral.</p>
                <ion-buttons>
                    <ion-button class="botao-pular" fill="clear" color="success" (click)="pularIntro()">Pular</ion-button>
                </ion-buttons>
            </ion-slide>
    
            <ion-slide class="container ion-text-center">
                <div>
                    <ion-img id="slide2" src="../../assets/checklist.png"></ion-img>
                </div>
                <ion-label>Agende seu treino</ion-label>
                <p>Aqui é possível agendar o horário para você realizar seu treino.</p>
                <ion-buttons>
                    <ion-button class="botao-pular" fill="clear" color="success" (click)="pularIntro()">Pular</ion-button>
                </ion-buttons>
            </ion-slide>
    
            <ion-slide class="container ion-text-center">
                <div>
                    <ion-img id="slide3" src="../../assets/feedback.png"></ion-img>
                </div>
                <ion-label>Conexão com profissionais</ion-label>
                <p>Oferecemos a possibilidade de comunicação com profissionais de Ed. Física.</p>
                <ion-buttons>
                    <ion-button class="botao-pular" fill="clear" color="success" (click)="pularIntro()">Pular</ion-button>
                </ion-buttons>
            </ion-slide>
          
            <ion-slide class="container ion-text-center">
                <div>
                    <ion-img id="slide4" src="../../assets/homem-mulher-quebracabeça.png"></ion-img>
                </div>
                <ion-label>Central de Ajuda</ion-label>
                <p>Fale conosco, tire suas dúvidas, nos dê sugestões.</p>
                <ion-buttons>
                    <ion-button class="botao-pular" fill="clear" color="success" (click)="pularIntro()">Pular</ion-button>
                </ion-buttons>
            </ion-slide>

            <ion-slide class="container ion-text-center">
                <ion-avatar>
                    <ion-img id="logo" src="../../assets/icon/logo-fitmoment.png"></ion-img>
                </ion-avatar>
                <ion-label id="seja-bem-vindo">Seja Bem-vindo</ion-label>
                <ion-button fill="solid" shape="round" color="success" id="botao-de-login" (click)="pularIntro()">
                    Vamos lá
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </ion-slide>

        </ion-slides>
    </ion-content>
</ion-app>
