<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center" color="success">Alterar Senha</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input placeholder="Ex. exemplo@ong.com" [clearInput]="true" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>
  
      <ion-button id="confirmar" shape="round" fill="solid" color="success" type="button" (click)="forgotPassword()">
        Confirmar<ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </form>
  </ion-content>
</ion-app>
